# Blood Transfusion EDA Project

<p>From replacing blood lost during major surgery or a serious injury to treating various diseases and blood disorders, blood transfusions save lives. Ensuring that enough blood is available when it is needed is a serious challenge for health professionals. According to <a href="https://www.webmd.com/a-to-z-guides/blood-transfusion-what-to-know#1">WebMD</a> about 5 million Americans need blood transfusions each year.</p>

<p>The dataset is from a mobile blood donation vehicle in Taiwan.</p>

# **Content**

1. [Introduction](#1.)
1. [Importing Libraries](#2.)
1. [Reading the Dataset](#3.)
1. [Exploratory Data Analysis](#4.)

<a id="1."></a> 
# Introduction

RFM is often used for customer segmentation and enables analysis of attributes such as when (Recency), how often (Frequency), and how much money customers spend (Monetary).

These attributes are often adapted for customer lifetime value modeling, churn prediction, customer segmentation, etc.

However, these features are used for blood donation, which is a social good.

In this dataset:

**RFMTC Components**

1. **Recency (R) — "Recency (months)"**
    - This characteristic represents how long it has been since a donor's last donation. Generally, donors whose last donation was more recent are more likely to donate again.
  
2. **Frequency (F) — "Frequency (times)"**
    - This shows how often a donor donates blood. People who donate more frequently are generally more likely to donate in the future.
  
3. **Monetary (M) — "Monetary (c.c. blood)"**
    - This attribute represents how much blood the donor has donated in total. Generally, donors who donate a higher amount of blood are considered to have a higher value.

4. **Time (T) — "Time (months)"**
    - This shows how long it has been since a donor's first donation. This can be used to understand how "loyal" the donor has been during the donation period.

5. **Churn (C) — "whether he/she donated blood in March 2007"**
    - This shows whether or not a donor donated in a specific period (March 2007). Churn, in this example, represents the probability that the donor did not donate in that period.

**Uses of RFMTC**

1. **Segmentation**: Donors can be categorized into different segments using these attributes. For example, donors with high "F" and low "R" values can be labeled as "Loyal Donors".

2. **Forecasting**: The likelihood of future giving can be predicted using current RFMTC values.

3. **Targeting**: Special campaigns or incentives can be used to target specific donor segments.

4. **Risk Analysis**: Donors with low frequency and high churn rates can be labeled as "Risky", and specific strategies can be developed for these donors.

This modeling technique is useful for understanding the future behavior of donors and managing them more effectively.

It can be used to model the likelihood of donors donating blood in the future.

<a id="2."></a> 
# Importing Libraries

In [6]:
import numpy as np
import pandas as pd

# Exploratory Data Analysis

In [7]:
df = pd.read_csv("transfusion.data")

## Change the column names if necessary

In [8]:
new_column_names = {
    'Recency (months)': 'Recency',
    'Frequency (times)': 'Frequency',
    'Monetary (c.c. blood)': 'Monetary',
    'Time (months)': 'Time',
    'whether he/she donated blood in March 2007': 'Target'
                   }
            
df.rename(columns=new_column_names, inplace=True)

## Get the first 5 lines

In [9]:
df.head(5)

   Recency  Frequency  Monetary  Time  Target
0        2         50     12500    98       1
1        0         13      3250    28       1
2        1         16      4000    35       1
3        2         20      5000    45       1
4        1         24      6000    77       0

## Look at the general information

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Recency    748 non-null    int64
 1   Frequency  748 non-null    int64
 2   Monetary   748 non-null    int64
 3   Time       748 non-null    int64
 4   Target     748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

## Look at the shape

In [11]:
df.shape

(748, 5)

## Check for missing values

In [12]:
df.isnull()

     Recency  Frequency  Monetary   Time  Target
0      False      False     False  False   False
1      False      False     False  False   False
2      False      False     False  False   False
3      False      False     False  False   False
4      False      False     False  False   False
..       ...        ...       ...    ...     ...
743    False      False     False  False   False
744    False      False     False  False   False
745    False      False     False  False   False
746    False      False     False  False   False
747    False      False     False  False   False

[748 rows x 5 columns]

In [13]:
df.isnull().sum()

Recency      0
Frequency    0
Monetary     0
Time         0
Target       0
dtype: int64

## Check for duplicated values

In [14]:
df[df.duplicated()]

     Recency  Frequency  Monetary  Time  Target
18         2          6      1500    15       1
20         2          3       750     4       1
23         2          6      1500    16       1
32         4         10      2500    28       1
43         2          5      1250    16       0
..       ...        ...       ...   ...     ...
735       23          1       250    23       0
736       23          1       250    23       0
737       23          1       250    23       0
738       23          1       250    23       0
740       23          1       250    23       0

[215 rows x 5 columns]

In [15]:
df.duplicated().sum()

215

## Check the dtype

In [16]:
df.dtypes

Recency      int64
Frequency    int64
Monetary     int64
Time         int64
Target       int64
dtype: object

## Calculate the basic statistical values

In [17]:
df.describe()

          Recency   Frequency      Monetary        Time      Target
count  748.000000  748.000000    748.000000  748.000000  748.000000
mean     9.506684    5.514706   1378.676471   34.282086    0.237968
std      8.095396    5.839307   1459.826781   24.376714    0.426124
min      0.000000    1.000000    250.000000    2.000000    0.000000
25%      2.750000    2.000000    500.000000   16.000000    0.000000
50%      7.000000    4.000000   1000.000000   28.000000    0.000000
75%     14.000000    7.000000   1750.000000   50.000000    0.000000
max     74.000000   50.000000  12500.000000   98.000000    1.000000

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Recency,748.0,9.506684,8.095396,0.0,2.75,7.0,14.0,74.0
Frequency,748.0,5.514706,5.839307,1.0,2.00,4.0,7.0,50.0
Monetary,748.0,1378.676471,1459.826781,250.0,500.00,1000.0,1750.0,12500.0
Time,748.0,34.282086,24.376714,2.0,16.00,28.0,50.0,98.0
Target,748.0,0.237968,0.426124,0.0,0.00,0.0,0.0,1.0

## Check unique values

In [19]:
df.Recency.unique()

array([ 2,  0,  1,  4,  5,  9,  3, 12,  6, 11, 10, 13,  8, 14,  7, 16, 15,
       23, 21, 18, 22, 26, 35, 38, 40, 74, 20, 17, 25, 39, 72],
      dtype=int64)

In [20]:
df.Recency.nunique()

31

In [21]:
df.Target.unique()

array([1, 0], dtype=int64)

In [22]:
df.Target.nunique()

2

## Calculate the average of 'Recency'

In [23]:
df.Recency.mean()

9.506684491978609

## Find the highest value in 'Frequency'

In [24]:
df.Frequency.max()

50

## Calculate the median of 'Time'

In [25]:
df.Time.median()

28.0

## Calculate the standard deviation of 'Monetary'

In [26]:
df.Monetary.std()

1459.826780772503

## Count the number of unique values in 'Time'

In [27]:
df.Time.unique()

array([98, 28, 35, 45, 77,  4, 14, 22, 58, 47, 15, 11, 48, 49, 16, 40, 34,
       21, 26, 64, 57, 53, 69, 36,  2, 46, 52, 81, 29,  9, 74, 25, 51, 71,
       23, 86, 38, 76, 70, 59, 82, 61, 79, 41, 33, 10, 95, 88, 19, 37, 39,
       78, 42, 27, 24, 63, 43, 75, 73, 50, 60, 17, 72, 62, 30, 31, 65, 89,
       87, 93, 83, 32, 12, 18, 55,  3, 13, 54], dtype=int64)

In [28]:
df.Time.nunique()

78

## Calculate the ratio of donors in March 2007 (Target=1) to total donors

In [29]:
df[df["Target"] == 1].count()[0]

178

In [30]:
df[df["Target"] == 1].count()[0] / len(df)

0.23796791443850268

In [31]:
df.Target.value_counts()

Target
0    570
1    178
Name: count, dtype: int64

In [32]:
df.Target.value_counts(normalize=True)

Target
0    0.762032
1    0.237968
Name: proportion, dtype: float64

## Filter donors with 'Recency' less than 10 months

In [33]:
df[df["Recency"] < 10]

     Recency  Frequency  Monetary  Time  Target
0          2         50     12500    98       1
1          0         13      3250    28       1
2          1         16      4000    35       1
3          2         20      5000    45       1
4          1         24      6000    77       0
..       ...        ...       ...   ...     ...
653        4          2       500    30       0
656        4          2       500    31       0
669        2          3       750    75       1
670        2          3       750    77       0
681        4          2       500    46       0

[401 rows x 5 columns]

In [34]:
len(df[df["Recency"] < 10])

401

## Select donors who donated at least 5 times

In [35]:
df[df["Frequency"] >= 5]

     Recency  Frequency  Monetary  Time  Target
0          2         50     12500    98       1
1          0         13      3250    28       1
2          1         16      4000    35       1
3          2         20      5000    45       1
4          1         24      6000    77       0
..       ...        ...       ...   ...     ...
713       16          6      1500    81       0
715       16          5      1250    71       0
719       23          8      2000    69       0
726       25          6      1500    50       0
741       23          7      1750    88       0

[329 rows x 5 columns]

In [36]:
len(df[df["Frequency"] >= 5])

329

## Create a new column giving the time between the first donation and the last donation

In [37]:
df["Donation_Period"] = df.Time - df.Recency
df["Donation_Period"]

0      96
1      28
2      34
3      43
4      76
       ..
743    15
744    31
745    39
746     0
747     0
Name: Donation_Period, Length: 748, dtype: int64

In [38]:
df

     Recency  Frequency  Monetary  Time  Target  Donation_Period
0          2         50     12500    98       1               96
1          0         13      3250    28       1               28
2          1         16      4000    35       1               34
3          2         20      5000    45       1               43
4          1         24      6000    77       0               76
..       ...        ...       ...   ...     ...              ...
743       23          2       500    38       0               15
744       21          2       500    52       0               31
745       23          3       750    62       0               39
746       39          1       250    39       0                0
747       72          1       250    72       0                0

[748 rows x 6 columns]

## Outlier Analysis for 'Frequency'

In [39]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Recency,748.0,9.506684,8.095396,0.0,2.75,7.0,14.0,74.0
Frequency,748.0,5.514706,5.839307,1.0,2.00,4.0,7.0,50.0
Monetary,748.0,1378.676471,1459.826781,250.0,500.00,1000.0,1750.0,12500.0
Time,748.0,34.282086,24.376714,2.0,16.00,28.0,50.0,98.0
Target,748.0,0.237968,0.426124,0.0,0.00,0.0,0.0,1.0
Donation_Period,748.0,24.775401,24.420630,0.0,0.00,19.0,41.0,96.0

In [40]:
q1 = df.Frequency.quantile(0.25)
q1

2.0

In [41]:
q3 = df.Frequency.quantile(0.75)
q3

7.0

In [42]:
iqr = q3 - q1
iqr

5.0

In [43]:
df[df["Frequency"] > 22]

     Recency  Frequency  Monetary  Time  Target  Donation_Period
0          2         50     12500    98       1               96
4          1         24      6000    77       0               76
9          5         46     11500    98       1               93
10         4         23      5750    58       0               54
115       11         24      6000    64       0               53
341       23         38      9500    98       0               75
500        2         43     10750    86       1               84
502        2         34      8500    77       1               75
503        2         44     11000    98       0               96
504        0         26      6500    76       1               76
505        2         41     10250    98       1               96
517        4         33      8250    98       1               94
528        5         24      6000    79       0               74

In [44]:
len(df[df["Frequency"] > 22])

13

In [45]:
len(df[df["Frequency"] > 14.5])

45

## Create a simple scoring model based on 'Recency' and 'Frequency'

In [46]:
df.head()

   Recency  Frequency  Monetary  Time  Target  Donation_Period
0        2         50     12500    98       1               96
1        0         13      3250    28       1               28
2        1         16      4000    35       1               34
3        2         20      5000    45       1               43
4        1         24      6000    77       0               76

In [47]:
df["Danotiopn_Score"] = (1 / df.Recency) + df.Frequency
df["Danotiopn_Score"]

0      50.500000
1            inf
2      17.000000
3      20.500000
4      25.000000
         ...
743     2.043478
744     2.047619
745     3.043478
746     1.025641
747     1.013889
Name: Danotiopn_Score, Length: 748, dtype: float64

In [48]:
df["Danotiopn_Score_1"] = np.where(df["Recency"] == 0, df.Frequency, (1 / df.Recency) + df.Frequency )
df["Danotiopn_Score_1"]

0      50.500000
1      13.000000
2      17.000000
3      20.500000
4      25.000000
         ...
743     2.043478
744     2.047619
745     3.043478
746     1.025641
747     1.013889
Name: Danotiopn_Score_1, Length: 748, dtype: float64

In [49]:
df.head()

,Recency,Frequency,Monetary,Time,Target,Donation_Period,Danotiopn_Score,Danotiopn_Score_1
0,2,50,12500,98,1,96,50.5,50.5
1,0,13,3250,28,1,28,inf,13.0
2,1,16,4000,35,1,34,17.0,17.0
3,2,20,5000,45,1,43,20.5,20.5
4,1,24,6000,77,0,76,25.0,25.0

## Convert Time to Years and Months (Time Series Transformation)

In [50]:
 df.Time // 12

0      8
1      2
2      2
3      3
4      6
      ..
743    3
744    4
745    5
746    3
747    6
Name: Time, Length: 748, dtype: int64

In [51]:
df["Years"] = df.Time // 12
df["Years"]

0      8
1      2
2      2
3      3
4      6
      ..
743    3
744    4
745    5
746    3
747    6
Name: Years, Length: 748, dtype: int64

In [52]:
df.Time % 12

0       2
1       4
2      11
3       9
4       5
       ..
743     2
744     4
745     2
746     3
747     0
Name: Time, Length: 748, dtype: int64

In [53]:
df["Months"] = df.Time % 12
df["Months"]

0       2
1       4
2      11
3       9
4       5
       ..
743     2
744     4
745     2
746     3
747     0
Name: Months, Length: 748, dtype: int64

In [54]:
df.head()

,Recency,Frequency,Monetary,Time,Target,Donation_Period,Danotiopn_Score,Danotiopn_Score_1,Years,Months
0,2,50,12500,98,1,96,50.5,50.5,8,2
1,0,13,3250,28,1,28,inf,13.0,2,4
2,1,16,4000,35,1,34,17.0,17.0,2,11
3,2,20,5000,45,1,43,20.5,20.5,3,9
4,1,24,6000,77,0,76,25.0,25.0,6,5

## Calculate the correlation of 'Target' with other features (Correlation Analysis)

In [55]:
df.corr()["Target"]

Recency             -0.279869
Frequency            0.218633
Monetary             0.218633
Time                -0.035854
Target               1.000000
Donation_Period      0.056986
Danotiopn_Score      0.216745
Danotiopn_Score_1    0.225380
Years               -0.032680
Months              -0.021089
Name: Target, dtype: float64

In [56]:
df.corr()["Target"].sort_values(ascending = False)

Target               1.000000
Danotiopn_Score_1    0.225380
Monetary             0.218633
Frequency            0.218633
Danotiopn_Score      0.216745
Donation_Period      0.056986
Months              -0.021089
Years               -0.032680
Time                -0.035854
Recency             -0.279869
Name: Target, dtype: float64

In [57]:
df.head()

,Recency,Frequency,Monetary,Time,Target,Donation_Period,Danotiopn_Score,Danotiopn_Score_1,Years,Months
0,2,50,12500,98,1,96,50.5,50.5,8,2
1,0,13,3250,28,1,28,inf,13.0,2,4
2,1,16,4000,35,1,34,17.0,17.0,2,11
3,2,20,5000,45,1,43,20.5,20.5,3,9
4,1,24,6000,77,0,76,25.0,25.0,6,5

## Create donor groups based on 'Frequency' (Grouping and Aggregation)

In [58]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Recency,748.0,9.506684,8.095396,0.000000,2.750000,7.000000,14.00,74.0
Frequency,748.0,5.514706,5.839307,1.000000,2.000000,4.000000,7.00,50.0
Monetary,748.0,1378.676471,1459.826781,250.000000,500.000000,1000.000000,1750.00,12500.0
Time,748.0,34.282086,24.376714,2.000000,16.000000,28.000000,50.00,98.0
Target,748.0,0.237968,0.426124,0.000000,0.000000,0.000000,0.00,1.0
Donation_Period,748.0,24.775401,24.420630,0.000000,0.000000,19.000000,41.00,96.0
Danotiopn_Score,748.0,inf,NaN,1.013514,2.071429,4.071429,7.25,inf
Danotiopn_Score_1,748.0,5.739404,5.875640,1.013514,2.071429,4.071429,7.25,50.5
Years,748.0,2.394385,2.038011,0.000000,1.000000,2.000000,4.00,8.0
Months,748.0,5.549465,3.546058,0.000000,2.000000,4.000000,9.00,11.0

In [59]:
bins = [0, 4, 14, 50 ]

group_names = ["Low", "Medium", "High"]


df["Frequency_Group"] = pd.cut(df.Frequency, bins, labels= group_names)


df["Frequency_Group"]

0        High
1      Medium
2        High
3        High
4        High
        ...
743       Low
744       Low
745       Low
746       Low
747       Low
Name: Frequency_Group, Length: 748, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [60]:
df.sample(10)

,Recency,Frequency,Monetary,Time,Target,Donation_Period,Danotiopn_Score,Danotiopn_Score_1,Years,Months,Frequency_Group
557,4,6,1500,30,0,26,6.250000,6.250000,2,6,Medium
394,16,4,1000,40,0,24,4.062500,4.062500,3,4,Low
296,14,5,1250,28,0,14,5.071429,5.071429,2,4,Medium
106,0,8,2000,59,0,59,inf,8.000000,4,11,Medium
597,4,6,1500,43,0,39,6.250000,6.250000,3,7,Medium
640,11,8,2000,52,1,41,8.090909,8.090909,4,4,Medium
428,23,3,750,28,0,5,3.043478,3.043478,2,4,Low
232,4,1,250,4,0,0,1.250000,1.250000,0,4,Low
492,23,4,1000,87,0,64,4.043478,4.043478,7,3,Low
133,4,6,1500,35,0,31,6.250000,6.250000,2,11,Medium

## Create a new categorical variable based on 'Recency'

In [61]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Recency,748.0,9.506684,8.095396,0.000000,2.750000,7.000000,14.00,74.0
Frequency,748.0,5.514706,5.839307,1.000000,2.000000,4.000000,7.00,50.0
Monetary,748.0,1378.676471,1459.826781,250.000000,500.000000,1000.000000,1750.00,12500.0
Time,748.0,34.282086,24.376714,2.000000,16.000000,28.000000,50.00,98.0
Target,748.0,0.237968,0.426124,0.000000,0.000000,0.000000,0.00,1.0
Donation_Period,748.0,24.775401,24.420630,0.000000,0.000000,19.000000,41.00,96.0
Danotiopn_Score,748.0,inf,NaN,1.013514,2.071429,4.071429,7.25,inf
Danotiopn_Score_1,748.0,5.739404,5.875640,1.013514,2.071429,4.071429,7.25,50.5
Years,748.0,2.394385,2.038011,0.000000,1.000000,2.000000,4.00,8.0
Months,748.0,5.549465,3.546058,0.000000,2.000000,4.000000,9.00,11.0

In [62]:
bins = [-1, 12, 24, 36, 75 ]

group_names = ["0-12 Months", "13-24 Months", "25-36 Months", "37-74 Months"]


df["Recency_Group"] = pd.cut(df.Recency, bins, labels= group_names)


df["Recency_Group"]

0       0-12 Months
1       0-12 Months
2       0-12 Months
3       0-12 Months
4       0-12 Months
           ...
743    13-24 Months
744    13-24 Months
745    13-24 Months
746    37-74 Months
747    37-74 Months
Name: Recency_Group, Length: 748, dtype: category
Categories (4, object): ['0-12 Months' < '13-24 Months' < '25-36 Months' < '37-74 Months']

In [63]:
df.head()

,Recency,Frequency,Monetary,Time,Target,Donation_Period,Danotiopn_Score,Danotiopn_Score_1,Years,Months,Frequency_Group,Recency_Group
0,2,50,12500,98,1,96,50.5,50.5,8,2,High,0-12 Months
1,0,13,3250,28,1,28,inf,13.0,2,4,Medium,0-12 Months
2,1,16,4000,35,1,34,17.0,17.0,2,11,High,0-12 Months
3,2,20,5000,45,1,43,20.5,20.5,3,9,High,0-12 Months
4,1,24,6000,77,0,76,25.0,25.0,6,5,High,0-12 Months

## Check the distribution of the 'Target' variable

In [64]:
df.Target.value_counts(normalize=True)

Target
0    0.762032
1    0.237968
Name: proportion, dtype: float64

In [65]:
df.Frequency_Group.value_counts()

Frequency_Group
Low       419
Medium    284
High       45
Name: count, dtype: int64

In [66]:
df.Frequency_Group.value_counts(normalize=True)

Frequency_Group
Low       0.560160
Medium    0.379679
High      0.060160
Name: proportion, dtype: float64

In [67]:
df.Frequency_Group.unique()

['High', 'Medium', 'Low']
Categories (3, object): ['Low' < 'Medium' < 'High']

In [68]:
df.Frequency_Group.nunique()

3